autoGrader-frontend-main/packages/webapp/src/lib/n8n/workflows/grade-assignments.json
{
  "name": "Grade Assignments Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start-grading",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "transformationType": "assignments",
        "query": ""
      },
      "id": "fetch-submissions",
      "name": "Fetch Submissions",
      "type": "n8n-nodes-base.extensionData",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"model\": \"qwen/qwen3-32b\", \"messages\": [ { \"role\": \"system\", \"content\": \"You are an expert academic grading assistant specializing in comprehensive assignment evaluation.\\n\\nGrading Rubric:\\n- 90-100: ADVANCED - Excellent work demonstrating mastery\\n- 80-89: PROFICIENT - Strong understanding with minor areas to improve\\n- 70-79: DEVELOPING - Adequate work with clear areas for development\\n- 60-69: BEGINNING - Basic work with significant gaps\\n- Below 60: NEEDS IMPROVEMENT - Incomplete or incorrect\\n\\nProvide a detailed evaluation with:\\n1. Overall numeric grade (0-100)\\n2. Performance level (ADVANCED/PROFICIENT/DEVELOPING/BEGINNING/NEEDS_IMPROVEMENT)\\n3. Completion percentage (0-100)\\n4. Content quality score (0-100)\\n5. Clarity and organization score (0-100)\\n6. Specific strengths (2-3 points)\\n7. Specific improvements needed (2-3 points)\\n8. Recommended next steps\\n\\nRespond ONLY with valid JSON.\" }, { \"role\": \"user\", \"content\": \"Evaluate this assignment:\\nStudent: {{ $json.student_name }}\\nAssignment: {{ $json.assignment_name }}\\nSubmission Content: {{ $json.assignment_text }}\\n\\nProvide detailed assessment in JSON format with: {grade, performance_level, completion_percentage, content_quality, clarity_organization, strengths[], improvements[], recommended_actions[]}\" } ], \"temperature\": 0.4, \"response_format\": { \"type\": \"json_object\" } }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ai-grade",
      "name": "AI Grade Assignment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.choices?.[0]?.message?.content; let grading; try { grading = JSON.parse(response); } catch (e) { grading = { grade: 0, performance_level: 'NEEDS_IMPROVEMENT', completion_percentage: 0, content_quality: 0, clarity_organization: 0, strengths: ['Submission was attempted'], improvements: ['Provide complete and detailed responses'], recommended_actions: ['Review assignment requirements and resubmit'] }; } return [{ json: { student_id: $('Fetch Submissions').item.json.student_id, student_name: $('Fetch Submissions').item.json.student_name || 'Unknown', assignment_name: $('Fetch Submissions').item.json.assignment_name || 'Assignment', submission_date: $('Fetch Submissions').item.json.submission_date || new Date().toISOString(), grade: Math.min(100, Math.max(0, grading.grade || 0)), performance_level: grading.performance_level || 'N/A', completion_percentage: grading.completion_percentage || 0, content_quality: grading.content_quality || 0, clarity_score: grading.clarity_organization || 0, strengths: Array.isArray(grading.strengths) ? grading.strengths.join(' | ') : String(grading.strengths || 'N/A'), improvements: Array.isArray(grading.improvements) ? grading.improvements.join(' | ') : String(grading.improvements || 'N/A'), recommended_actions: Array.isArray(grading.recommended_actions) ? grading.recommended_actions.join(' | ') : String(grading.recommended_actions || 'N/A'), submission_content: $('Fetch Submissions').item.json.assignment_text?.substring(0, 200) || '' } }];"
      },
      "id": "process-grade",
      "name": "Process Grade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ 'grades_' + $now.format('yyyy-MM-dd_HHmmss') + '.csv' }}",
          "headerRow": true
        }
      },
      "id": "export-csv",
      "name": "Export to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Fetch Submissions", "type": "main", "index": 0 }]]
    },
    "Fetch Submissions": {
      "main": [[{ "node": "AI Grade Assignment", "type": "main", "index": 0 }]]
    },
    "AI Grade Assignment": {
      "main": [[{ "node": "Process Grade", "type": "main", "index": 0 }]]
    },
    "Process Grade": {
      "main": [[{ "node": "Export to CSV", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "grade-assignments-001",
  "tags": ["grading", "education", "assignments"]
}
