autoGrader-frontend-main/packages/webapp/src/lib/n8n/workflows/grade-extension-quiz.json
{
  "name": "Grade Extension Quiz",
  "nodes": [
    {
      "parameters": {},
      "id": "start-quiz-ext",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "transformationType": "quiz",
        "query": ""
      },
      "id": "fetch-quiz-data",
      "name": "Fetch Extension Quiz Data",
      "type": "n8n-nodes-base.extensionData",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"model\": \"qwen/qwen3-32b\", \"messages\": [ { \"role\": \"system\", \"content\": \"You are an expert grading assistant for quizzes. Analyze quiz answers and provide grades with feedback. Return ONLY a JSON object with: grade (number 0-100), feedback_text (string), correct_parts (string), incorrect_parts (string).\" }, { \"role\": \"user\", \"content\": \"Grade quiz for student: {{ $json.student_name }}. Quiz: {{ $json.quiz_name }}. Answer: {{ $json.answer }}. Status: {{ $json.status }}.\" } ], \"temperature\": 0.3, \"response_format\": { \"type\": \"json_object\" } }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ai-grade-quiz",
      "name": "AI Grade Quiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.choices?.[0]?.message?.content; let grading; try { grading = JSON.parse(response); } catch (e) { grading = { grade: 75, feedback_text: 'Good work!', correct_parts: 'N/A', incorrect_parts: 'N/A' }; } return [{ json: { student_id: $('Fetch Extension Quiz Data').item.json.student_id, student_name: $('Fetch Extension Quiz Data').item.json.student_name, quiz_name: $('Fetch Extension Quiz Data').item.json.quiz_name, answer: $('Fetch Extension Quiz Data').item.json.answer, attempt_date: $('Fetch Extension Quiz Data').item.json.attempt_date, grade: grading.grade, feedback_text: grading.feedback_text, correct_parts: grading.correct_parts, incorrect_parts: grading.incorrect_parts } }];"
      },
      "id": "process-quiz-grade",
      "name": "Process Quiz Grade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ 'extension_quiz_grades_' + $now.format('yyyy-MM-dd_HHmmss') + '.csv' }}",
          "headerRow": true
        }
      },
      "id": "export-quiz-csv",
      "name": "Export to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Fetch Extension Quiz Data", "type": "main", "index": 0 }]]
    },
    "Fetch Extension Quiz Data": {
      "main": [[{ "node": "AI Grade Quiz", "type": "main", "index": 0 }]]
    },
    "AI Grade Quiz": {
      "main": [[{ "node": "Process Quiz Grade", "type": "main", "index": 0 }]]
    },
    "Process Quiz Grade": {
      "main": [[{ "node": "Export to CSV", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "grade-extension-quiz-001",
  "tags": ["grading", "education", "quiz", "extension"]
}
